@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post" action="/Account/Register">
    <input type="text" name="UserName" value="" />
    <input type="password" name="Password" value="" />
    <input type="submit" value="submit" />
</form>


